<header>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">Car Dealer Jarik Stoi</a>
    <nav>
        <ul class="topmenu">
            <li>
                <a href="" class="submenu-link">Admins</a>
                <ul class="submenu">
                    <li><a asp-area="" asp-controller="Admins" asp-action="AddAdminPage">Add Admin</a></li>
                    <li><a asp-area="" asp-controller="Admins" asp-action="ShowAllAdmins">Show all Admins</a></li>
                </ul>
            </li>
            <li>
                <a class="submenu-link">Users</a>
                <ul class="submenu">
                    <li><a asp-area="" asp-controller="Users" asp-action="AddUserPage">Add User</a></li>
                    <li><a asp-area="" asp-controller="Users" asp-action="ShowAllUsers">Show all Users</a></li>
                </ul>
            </li>
            <li>
                <a href="" class="submenu-link">Cars</a>
                <ul class="submenu">
                    <li><a asp-area="" asp-controller="Cars" asp-action="AddCarPage">Add Car</a></li>
                    <li><a asp-area="" asp-controller="Cars" asp-action="ShowAllCars">Show all Cars</a></li>
                </ul>
            </li>
            <li>
                <a href="" class="submenu-link">Sales</a>
                <ul class="submenu">
                    <li><a asp-area="" asp-controller="Sales" asp-action="AddSalePage">Add Sales</a></li>
                    <li><a asp-area="" asp-controller="Sales" asp-action="ShowAllSales">Show all Sales</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

@*<header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Fixed navbar</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>

                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Sign in</button>

                    <button class="btn btn-sm btn-outline-secondary" type="button"><strong>Sign up</strong></button>

                </form>

            </div>
        </nav>
    </header>*@