@inject Microsoft.AspNetCore.Identity.SignInManager<User> _signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Jarik Stoi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Sale" asp-action="MySales">Мои покупки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Sale" asp-action="AllSales">Все покупки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="UserPage">Моя страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Car" asp-action="AddCar">Добавить авто</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Privacy">О нас</a>
                </li>
            </ul>

            <div class="navbar-text mr-3">
                @if(User.Identity.IsAuthenticated){ @User.Identity.Name } else { <text>Пожалуйста, авторизуйтесь</text> }
            </div>
            @if (User.Identity.IsAuthenticated) {
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="btn btn-primary" type="submit" value="Выйти"/>
                </form>
            } else {
                <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Войти</a>
            }
            
        </div>
    </nav>
</header>
<div class="container my-2">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy;@DateTime.Now.Year.ToString() - CarDealer - 
        <a asp-controller="Home" asp-action="Privacy">О нас</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>