<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Car Dealer Jarik Stoi</title>
    @*<link rel="stylesheet" href="~/css/bootstap.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_header" />
    
        
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>