@model CarDealerCore.Models.Admin
@{
    Layout = "/Views/Layout.cshtml";
}

<link rel="stylesheet" href="~/css/field.css" />
<link rel="stylesheet" href="~/css/table.css" />

<div>
    <table class="table_dark">
        <tr>
            <td>ID</td>
            <td>Login</td>
            <td>Password</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Login)
            </td>
            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
            <td>
                <div>
                    <form asp-controller="Admins" asp-action="DeleteAdmin" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Удалить" />
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>