@model CarDealerCore.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Имя пользователя";
}

<form asp-controller="Account" asp-action="UserPage" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group row">
        <label asp-for="Login" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="text" readonly asp-for="Login" class="form-control" placeholder="Логин"/>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="OldPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="password" asp-for="OldPassword" class="form-control" placeholder=" Старый пароль"/>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="password" asp-for="NewPassword" class="form-control" placeholder=" Новый пароль"/>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
