@{
    ViewData["Title"] = "Страница автомобиля";
}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h2 class="text-left">Марка Модель</h2>
        </div>
        <div class="col">
            <h2 class="text-right">350000 &#8381;</h2>
        </div>
    </div>
    <div class="row my-3">
        <h2>Описание</h2>
    </div>
    <div class="row">
        <pre>
            1. Кузов
            
            • Установка различных элементов кузова
            • Сварочные работы
            • Покраска кузова или отдельных его частей
            • Полирование фар, элементов кузова
            • Химчистка салона, и по отдельности каждого элемента
            • Полная мойка автомобиля
            
            2. Работа с агрегатными деталями
            • Замена колес
            • Проверка/балансировка колеса
            • Измерение или регулировка СО
            • Комплексная замена масла
            • Замена антифриза
            • Проверка компрессии ДВС
            • Проверка правильной работы двигателя
            • Регулировка зажигания
            
            3. Ремонт подвески
            • Развал-схождения
            • Полный осмотр подвески
            • Проверка амортизаторов, тормозов на специальном стенде
            • Полная замена дисковых или барабанных тормозов
            • Регулировка передних и задних колес
            • Прокачка тормозной системы
            • Замена амортизаторов, пружин, шаровой, рулевой тяги, тормозных шлангов и др.
            
            4. Работа с электрической частью автомобиля
            • Проверка и устранение кодов ошибок
            • Установка музыкальной системы
            • Полная проверка электрооборудования
            • Установка магнитолы
            • Регулировка фар
        </pre>
    </div>
    <div class="row">
        <form method="post" asp-action="Buy">
        <button type="submit" class="btn btn-primary">Купить</button>
        </form>
    </div>
</div>
