@{
    ViewData["Title"] = "Главная";
}

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="card my-3">
    <div class="card-body">
        @*<img src="https://top10a.ru/wp-content/uploads/2019/09/6-47.jpg" align="left" height="200" class="px-3"/>*@
        <h5 class="card-title">Марка модель</h5>
        <p class="card-text">Описание автомобиля со всеми вытекающими</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Car">(цена автомобиля) &#8381;</a>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        @*<img src="https://top10a.ru/wp-content/uploads/2019/09/6-47.jpg" align="left" height="200" class="px-3"/>*@
        <h5 class="card-title">Марка модель</h5>
        <p class="card-text">Описание автомобиля со всеми вытекающими</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Car">(цена автомобиля) &#8381;</a>
    </div>
</div>
<div class="card my-3">
    <div class="card-body">
        @*<img src="https://top10a.ru/wp-content/uploads/2019/09/6-47.jpg" align="left" height="200" class="px-3"/>*@
        <h5 class="card-title">Марка модель</h5>
        <p class="card-text">Описание автомобиля со всеми вытекающими</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Car">(цена автомобиля) &#8381;</a>
    </div>
</div>