@{
    ViewData["Title"] = "Главная";
    List<Car> cars= ViewBag.Cars;
}

@foreach(var car in cars)
{
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">@car.Mark @car.Model</h5>
            @*<span class="card-text">@car.Description</span>*@
            <a class="btn btn-primary"
               asp-controller="Car"
               asp-action="GetCar" asp-route-id=@car.Id>
                @(Convert.ToInt32(car.Price)) &#8381;
            </a>
        </div>
    </div>
    }
