@{
    ViewData["Title"] = "О нас";
}

    <div class="about-section">
        <h1>@ViewData["Title"]</h1>
        <p>Проект созданный для того чтобы маслята научились программастеровать в веб-сфере.</p>
    </div>

    <div class="card-group mx-auto" style="max-width: 600px">

        <div class="card rounded bg-light border p-2 shadow">
            <img class="card-img" src="~/pics/left.jpg" style="width:100%">
            <div class="card-body">
                <h5 class="card-title">Малинин Игорь Игоревич</h5>
                <p class="text-uppercase text-muted">three hundred bucks-developer</p>
                <p class="card-text">My name is Giovanni Giorgio but everybody calls me Giorgio. 
                    My name is Giovanni Giorgio but everybody calls me Giorgio. 
                    My name is Giovanni Giorgio but everybody calls me Giorgio.</p>
                <button class="btn btn-ligh btn-reg-log">Связаться</button>
            </div>
        </div>

        <div class="card mx-3 rounded bg-light border p-2">
            <img class="card-img" src="~/pics/right.jpg" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Маратов Серик Маратович</h5>
                <p class="text-uppercase text-muted">Костыли и велосипеды-developer</p>
                <p class="card-text">Tylko jedno w głowie mam Koksu pięć gram odlecieć sam W krainę zapomnienia 
                    W głowie myśli mam Kiedy skończy się ten stan Gdy już nie będę sam.</p>
                <button class="btn btn-ligh btn-reg-log">Связаться</button>
            </div>
        </div>

    </div>